:root {
	--board-margin: 3vmin;
}

#jsversion {
	background-color: yellow;
	color: navy;
	padding: 0 15px;
}

body {
	font-family: sans-serif;
	background-color: white;
	color: black;
	position: relative;
	user-select: none;
}
body::backdrop {
	background: transparent;
}

#container {
	width: calc(100vmax - var(--board-margin) * 2);
	height: calc(100vmin - var(--board-margin) * 2);
	margin: var(--board-margin) var(--board-margin);
	outline: 5px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	/* background:  */
		/* url('snow.svg'), */
		/* url('snowy_landscape.svg') */
	/* ; */
	/* background-repeat: no-repeat; */
}

.bingo-letter {
	font-weight: 800;
	font-size: 5vmin;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
	vertical-align: middle;
	line-height: 0;
	height: 8vmin;
}
#b:hover {
	box-shadow:
		inset 0.2vmin 0.2vmin red,
		inset -0.2vmin -0.2vmin red
	;
}
.bingo-cell {
	/* font-weight: bold; */
	/* font-size: 4.8vmin; */
	font-size: 3vmin;
	/* height: 5.2vmin; */
	/* text-align: center; */
	border: 1px solid black;
	vertical-align: middle;
	line-height: 1 !important;
}
.bingo-cell > div {
	display: flex;
	/* justify-content: space-evenly; */
	align-items: center;
}
.bingo-cell-number {
	font-weight: bold;
	font-size: 4.5vmin;
	min-width: 30%;
	max-width: 30%;
	text-align: center;
}
.bingo-cell-category {
	font-size: 2.7vmin;
	line-height: 1em;
	padding-right:1vmin;
}
.chosen {
	background: rgb(255,255,128);
}
.chosen.current {
	background-color: yellow;
	outline: 1.25vmin double black;
	font-weight: bold;
}
#option-bar {
	position:fixed;
	top:0;
	left:0;
	background-color: white;
	border-bottom: 4px solid black;
	padding:1vmin;
	display:none;
	/* display:flex; */
	gap:1vmin;
	width:100%;
	justify-content: space-evenly;
	align-items: center;
	line-height:1em;
	z-index:99999999;
	font-size:3.5vmin;
}
/* #option-bar > * { */
	/* border: 1px solid black; */
/* } */

#button-expand {
	position:fixed;
	opacity:60%;
	/* height: 10vmin; */
	font-size: 5vmin;
}
.option-button {
	display: inline-block;
	top:0;
	left:0;
	font-size:inherit;
	height:10vmin;
	padding:0 2vmin;
	z-index:99999999;
}
#option-bar input {
	font-size: inherit;
	width:3ch;
	height: 10vmin;
}
#option-bar label {
	display:flex;
	align-items: center;
	text-align: center;
}
#option-bar p {
	font-size: 75%;
	/* text-align: center; */
	padding: 0 2vmin 0 2vmin;
}
#user-instructions {
	flex: 0 0 20%;
}
kbd {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0.55vmin 0.75vmin 0.5vmin 1.25vmin;
	text-align: center;
	box-shadow: inset 0.35vmin -0.2vmin 0.3vmin 0.2vmin gray;
}
#restore-disclaimer {
	font-size: 65% !important;
	text-align: left !important;
	flex: 0 0 15%;
}











